name: Build QMK Firmware

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: qmkfm/qmk_cli

    strategy:
      fail-fast: false
      matrix:
        keymap: [default, via]

    steps:
    - name: Checkout QMK Firmware
      uses: actions/checkout@v4
      with:
        repository: qmk/qmk_firmware
        submodules: recursive
        path: qmk_firmware

    - name: Checkout RK75 Repository
      uses: actions/checkout@v4
      with:
        path: rk75

    - name: Copy RK75 into QMK
      run: |
        rm -rf qmk_firmware/keyboards/rk/r75
        mkdir -p qmk_firmware/keyboards/rk/r75
        cp -r rk75/keyboard/rk/r75/* qmk_firmware/keyboards/rk/r75/

    - name: Build Keymap
      run: |
        cd qmk_firmware
        qmk compile -kb rk/r75 -km ${{ matrix.keymap }}

    - name: Archive Firmware
      uses: actions/upload-artifact@v4
      with:
        name: rk75-${{ matrix.keymap }}
        path: |
          qmk_firmware/*.bin
          qmk_firmware/*.hex
